
.magic-rock {
  text-align: center;
}

#rock {
  width: 150px;
  height: 150px;
}

#lightning {
  right: 675px;
  position: relative;
  width: 180px;
  height: 180px;
  display: none;
}

h1, h2, h3, h4, h5, h6, p, button {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}


/* Shake animation */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}